@model ElProyecteGrande.Models.Guest;

@{
    ViewBag.Title = "Edit Guest";
}

<div class="container form-control">
    <h2>@ViewBag.Title</h2><br/>
    <form asp-controller="Home" asp-action="EditGuest" method="post">
        <div class="row">
            <div class="col">
                <label asp-for="FullName">Full Name</label><br/>
                <input class="form-control" asp-for="FullName"/>
            </div>
            <div class="col">
                <label asp-for="BirthDate">Birth Date</label><br/>
                <input class="form-control" asp-for="BirthDate"/>
            </div>
            <div class="col">
                <label asp-for="BirthPlace">Birth Place</label><br/>
                <input class="form-control" asp-for="BirthPlace"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Email"></label><br/>
                <input class="form-control" asp-for="Email"/>
            </div>
            <div class="col">
                <label asp-for="Phone"></label><br/>
                <input class="form-control" asp-for="Phone"/>
            </div>
            <div class="col">
                <label asp-for="Country"></label><br/>
                <input class="form-control" asp-for="Country"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="City"></label><br/>
                <input class="form-control" asp-for="City"/>
            </div>
            <div class="col">
                <label asp-for="Address"></label><br/>
                <input class="form-control" asp-for="Address"/>
            </div>
            <div class="col">
                <label asp-for="PostalCode">Postal Code</label><br/>
                <input class="form-control" asp-for="PostalCode"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Citizenship"></label><br/>
                <input class="form-control" asp-for="Citizenship"/>
            </div>
            <div class="col">
                <label asp-for="Comment"></label><br/>
                <input class="form-control" asp-for="Comment"/>
            </div>
            <div class="col">
                <label asp-for="Age"></label><br/>
                <select class="form-select" asp-for="Age" asp-items="Html.GetEnumSelectList<Age>()"></select>
            </div>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>