@model System.Collections.Generic.IEnumerable<ElProyecteGrande.Models.Room>

@{
    ViewBag.Title = "Edit Guest";
}

<h2>@ViewBag.Title</h2><br/>
<div class="container h-50">
    <form asp-controller="Home" asp-action="Select" method="post">
        <label for="rooms">Select Room</label>
        <select name="rooms" onChange="myFunction(this.options[this.selectedIndex].dataset.price)">
            @foreach (var room in Model)
            {
                <option  value="@room.ID" id="room" data-price="@room.Price">Fl:@room.Floor No:@room.DoorNumber T:@room.RoomType</option>
            }
            
        </select>
        
      
            <p id="price">The price of this room: 80 $</p>
       
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>